<div>
    <h1 class="giofont text-bg-dark py-2 noselect">
        CUBOS
    </h1>
    <div *ngIf="cubos" class="giobox">
        <div *ngFor="let cubo of cubos">
            <div class="d-inline-block border rounded p-2 my-2" style="height:300px; width: 300px; position: relative; z-index: -1;">
                <h3 class="text-bg-dark fw-bold rounded py-2">{{ cubo.nombre }}</h3>
                <section style="width: 95%; height: 200px;">
                    <img src="{{cubo.imagen}}" style="height: 100%; width: 100%; object-fit: cover;">
                </section>
            </div>
        </div>
    </div>
</div>