<div>
    <div>
        <h1 class="giofont text-bg-dark py-2">
            Registro
        </h1>
        <form style="max-width: 75%;" class="mx-auto">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" #cajanombre name="cajanombre" required>
            
            <label class="form-label mt-2">Email</label>
            <input type="text" class="form-control" #cajaemail name="cajaemail" required>
            
            <label class="form-label mt-2">Contraseña</label>
            <input type="text" class="form-control" #cajapassword name="cajapassword" required>
    
            <label class="form-label mt-2">Repetir contraseña</label>
            <input type="text" class="form-control" #cajapasswordr name="cajapasswordr" required>
    
            <button class="btn btn-success mt-3" (click)="nuevousuario()">
                Registro
            </button>
        </form>
    </div>
</div>